body {
    display: grid;
    font-family: Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color: whitesmoke;

}

header {

    display: grid;
    padding-left: 5rem;
}

.projects {

    margin: 5rem;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5rem;

}

.project {

    position: relative;
    height: 20rem;
    overflow: hidden;
    transform-style: preserve-3d;

}

.project img {
    max-width: 100%;
    object-fit: fill;
    transition: 1s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.project:hover img {
    transform: rotateY(180deg);
}

.project .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 1s;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: grid;

}

.project:hover .back {
    transform: rotateY(0deg);
}

.back a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.palevioletred {
    background-color: palevioletred;
}

.steelblue {
    background-color: steelblue;
}

.lightskyblue {
    background-color: lightskyblue;
}

.darkslateblue {
    background-color: darkslateblue;
}

.sandybrown {
    background-color: sandybrown;
}

@media (max-width : 1555px) {
    .projects {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width : 1100px) {
    .projects {
        grid-template-columns: repeat(1,1fr);
    }

    .project {
        height: auto;
    }
}