body {
	display: grid;
	height: 100vh;
	font-family: Helvetica, sans-serif;
	font-size: 1.1rem;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	grid-template-rows: auto 1fr;
	transition: 0.5s;
}

header {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}

.column {
	grid-column: span 1;
	height: 100vh;
	max-height: 100vh;
	text-align: center;
	transition: max-height 0.6s;
}

h1 {
	font-size: 1rem;
	font-weight: 100;
	cursor: pointer;
}

.project {
	color: whitesmoke;
	font-weight: 100;
	cursor: pointer;
	transition: 0.4s;
}

.project:hover {
	color: gray;
}

.pink {
	background-image: url(../img/blue-bowl-far-left.jpg);
	background-position: 52% top;
	background-size: cover;
}

.purple {
	background-image: url(../img/yellow-hand.jpg);
	background-position: 50% top;
	background-size: cover;
}

.orange {
	background-image: url(../img/pink-bowl-second-to-right.jpg);
	background-position: center top;
	background-size: cover;
}

.yellow {
	background-image: url(../img/blue-and-white-jug.jpg);
	background-position: 57% top;
	background-size: cover;
}

.showcase {
	display: none;
	max-height: 0rem;
	align-items: center;
	justify-items: center;
}

.showcase-box {
	display: grid;
	transition: 1s;
	justify-items: center;
	align-items: center;
}

.showcase-box img {
	height: 100%;
	max-width: 100%;
	pointer-events: none;
	grid-column: 1/2;
	grid-row: 1/2;
}

.content {
	display: grid;
	align-items: center;
}

.main {
	height: 80vh;
	width: 100vw;
	z-index: 2;
	grid-row: 1/2;
	grid-column: 1/2;
	pointer-events: none;
}

.left {
	height: 40vh;
	width: 30vw;
	z-index: 1;
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: left;
	opacity: 0.15;
}

.right {
	height: 40vh;
	width: 30vw;
	z-index: 1;
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: right;
	opacity: 0.15;
}

.title {
	background-color: rgba(0, 0, 0, 0);
}

.content p {
	color: whitesmoke;
	font-size: 1rem;
	width: 20rem;
	justify-self: center;
}
